<html>
  <head>
    <title></title>
    <meta content="">
    <link rel="stylesheet" href="index.css">

  </head>
  <body>
<div id="menu">Меню</div>
<div id="logo">BestLogo</div>
<div id=search>Поиск</div>
<div id="time">10:30</div>
<div id="state">мой статус: работаю</div>
<div id="ava">6</div>
<div>2</div>
<div id="deals" class ="page_item page_active">сделки</div>
<div id="kontaks" class ="page_item">контакты</div>
<div id="comp"class ="page_item">компании</div>
<div id="sale"class ="page_item">товары</div>
<div id="op-ns"class ="page_item" >настройки</div>
<div>3</div>
<div>4</div>
<div class="present_page">Контакты</div>
<div class="present_page_find">...</div>
<div class="present_page_add">Добавить контакты</div>
<div>9</div>
<div>10</div>
<div id="contacts_container" >
    <div class="deal_div">Фото </div>
    <div class="deal_div">ФИО </div>
    <div class="deal_div">Компания </div>
    <div class="deal_div">Тип контакта </div>
    <div class="deal_div">Ответственный </div>

    <div class="deal_div">{{user.photo}}</div>
    <div class="deal_div">{{user.name, user.surname,user.patronim}} </div>
    <div class="deal_div">{{user.company}}</div>
    <div class="deal_div">{{user.type-contact}}</div>
    <div class="deal_div">{{user.}} </div>



  1</div>
<div>2</div>
<div>3</div>
<div>7</div>
<div>4</div>
<div>5</div>
<div>6</div>
<div>7</div>
<div>8</div>
<div>9</div>
<div>10</div>
  Привет, я страница CRM-системы!

  </body>
<script src="jquery.js" charset="utf-8"></script>
<script src="script.js" charset="utf-8"></script>
</html>
