<html>
  <head>
    <title></title>
    <meta content="">
    <link rel="stylesheet" href="index.css">

  </head>
  <body>
<div id="menu">Меню</div>
<div id="logo">BestLogo</div>
<div id=search>Введите запрос...</div>
<div id="time">10:30</div>
<div id="state">{{user.state}}</div>
<div id="ava">{{user.avatar}}</div>
<div id="clear"></div>
<div id="deals_page" class ="page_item page_active">сделки</div>
<div id="contacts_page" class ="page_item">контакты</div>
<div id="companies_page" class ="page_item">компании</div>
<div id="goods_page"class ="page_item">товары</div>
<div id="settings_page" class ="page_item" >настройки</div>
<div id="clear"></div>
<div id="clear"></div>
<div id="present_page" class="deals_page_header">Контакты</div>
<div id="present_page_find" class="contacts_page_find">Поиск по контактам</div>
<div id="present_page_add" class="deals_page_add" onclick="add_contact()">Добавить контакты</div>
<div></div>
<div></div>
<div id="contacts_container" >
    <div class="deal_div">Фото </div>
    <div class="deal_div">ФИО </div>
    <div class="deal_div">Компания </div>
    <div class="deal_div">Тип контакта </div>
    <div class="deal_div">Ответственный </div>

    <div class="deal_div">{{user.photo}}</div>
    <div class="deal_div">{{user.name, user.surname,user.patronim}} </div>
    <div class="deal_div">{{user.company}}</div>
    <div class="deal_div">{{user.type-contact}}</div>
    <div class="deal_div">{{user.}} </div>



  </div>
  </body>
<script src="jquery.js" charset="utf-8"></script>
<script src="script.js" charset="utf-8"></script>
</html>
