body {
  display:grid;
  grid-template-columns: 50px repeat(10, 1fr) 50px;
  grid-template-rows: 50px 80px 80px 80px 1fr;
  grid-gap:5px;
}
div{
height: 100%;
width: 100%;
background-color: blue;
}
#menu {
background-color: yellow;
}
#logo{

background-color: yellowgreen;
}
#search{
grid-column: 3/9;
}
#time{
background-color: green;
}
#state{
grid-column: 10/12;
background-color: yellow;
}
#ava{
background-color: red;
}
#deals{
grid-column: 2/4;
background-color: white;
}
#kontaks{
grid-column: 4/6;
background-color: red;
}
#comp{
grid-column: 6/8;
}
#sale{
grid-column: 8/10;
background-color: red
}
#op-ns{
grid-column: 10/12;
background-color: white;
}
#deals2{
grid-column: 2/4;
background-color: green;
}
#finddeal{
grid-column: 4/10;
background-color: white;
}
#adddeal{
grid-column: 10/12;
background-color: green;
}
#deals_container {
grid-column: 2/12;
grid-row:4 span 4;
display:grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 20px 1fr 1fr 1fr 1fr;

}

.deal_div{
  width: 100%;
  height: 100%;
  background-color: yellowgreen;

}
