<html>
  <head>
    <title></title>
    <meta content="">
    <link rel="stylesheet" href="index.css">

  </head>
  <body>
<div id="menu">Меню</div>
<div id="logo">2</div>
<div id=search>3</div>
<div id="time">10:30</div>
<div id="state">5</div>
<div id="ava">6</div>
<div>2</div>
<div id="deals">сделки</div>
<div id="kontaks">контакты</div>
<div id="comp">компании</div>
<div id="sale">товары</div>
<div id="op-ns">настройки</div>
<div>3</div>
<div>4</div>
<div id="deals2">СДЕЛКИ</div>
<div id="finddeal">...</div>
<div id="adddeal">Добавить сделку</div>
<div>9</div>
<div>10</div>
<div id="deals_container" >
    <div class="deal_div">Новая </div>
    <div class="deal_div">Документы </div>
    <div class="deal_div">В работе </div>
    <div class="deal_div">Закрыто </div>
  </div>
<div>2</div>
<div>3</div>
<div class="new">Новое</div>
<div >Подготовка локументов</div>
<div>5</div>
<div>6</div>
<div>7</div>
<div>8</div>
<div>9</div>
<div>10</div>
  Привет, я страница CRM-системы!

  </body>


<script src="jquery.js"> </script>
<script src="jquery-ui.js"> </script>
<script>
$(function() {
  $(".new").droppable(
    { drop:function (){
      $(".drop").text("New")
                              }
        } )
      } );




</script>



</html>
