body {
  display:grid;
  grid-template-columns: 50px repeat(10, 1fr) 50px;
  grid-template-rows: 50px 80px 80px 80px 1fr;
  grid-gap:5px;
}
div{
height: 100%;
width: 100%;
background-color: blue;
}
#menu {
background-color: whitesmoke;
}
#logo{
background-color: whitesmoke;
color: rgb(245,100,0);
font-size: 38px;
}
#search{
grid-column: 3/9;
background-color: rgb(245,100,0);
border-radius: 15px;

}
#time{
background-color: whitesmoke;
font-size: 38px;
color: rgb(245,100,0);
}
#state{
grid-column: 10/12;
background-color: yellow;
}
#ava{
background-color: red;
}
#deals{
grid-column: 2/4;
}
#kontaks{
grid-column: 4/6;
}
#comp{
grid-column: 6/8;
}
#sale{
grid-column: 8/10;
}
#op-ns{
grid-column: 10/12;
}

.present_page{
grid-column: 2/4;
background-color: white;
}
.present_page_find{
grid-column: 4/10;
background-color: white;
}
.present_page_add{
grid-column: 10/12;
background-color: white;
background-color: green;
border: 3px solid yellowgreen;
border-radius: 30px;
}
.new{
  grid-column: 2/4;
  background-color: red;
}

.drop{
  width: 100px;
  height: 200px;
  background-color: yellow;
}

#deals_container {
grid-column: 2/12;
grid-row:4 span 4;
display:grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 20px 1fr 1fr 1fr 1fr;

}

#contacts_container {
grid-column: 2/12;
grid-row:4 span 4;
display:grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 20px 1fr 1fr 1fr 1fr;

}

.deal_div{
  width: 100%;
  height: 100%;
  background-color: yellowgreen;

}

.page_item {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
}

.page_active {
  background-color: whitesmoke;
  color: orange;
  font-size: 25px;
  font-weight: bolder;
}
